<nav id="main_nav" [@increasewidth]='state'>
        <ul class="nav navbar-nav navbar-right">
            <li (click)="menuExpander()" id='menuExpand' style="height: 49px">
                <table style="width: 100%; height: 100%;">
                    <tr>
                        <td style="width: 142px; padding: 0,0,0,0; margin: 0,0,0,0; vertical-align: top">
                            <span class="optiiVersion" style="padding: 0,0,0,0; margin: 0,0,0,0; vertical-align: top">
                                VERSION 1.0.2
                            </span>

                        </td>
                        <td>
                            <img src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/menu.jpg" data-ng-mouseover="getOptiiVersion()" data-ng-mouseleave="showOptiiVersion=false">
                        </td>
                    </tr>
                </table>
            </li>
            <li id="rosterid"><a routerLink="roster"><span>Roster</span><img title="Roster" src='http://hkcluatpa01.optii.net/Optii.Web.Hub/img/menu-roster.png' style="width: 30px; margin: 10px 13px" /></a></li>
            <li id="assignment"><a routerLink="assingnment"><span>Assignment</span><img title="Assignment" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/PA_Staff_Assignment_1.png" /></a></li>
            <li id='tasklist'><a routerLink="tasklist"><span>Task List</span><img title="Task_List" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/PA_Task_List_1.png" /></a></li>
            <li id="worklog"><a routerLink="reports"><span>Reports</span><img title="Reports" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/menu-reports.png"></a></li>
            <li id="config"><a routerLink="configuration"><span>Configuration</span><img title="Configuration" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/menu-config.png" /></a></li>
            <li id="session"><a routerLink="session"><span>Session</span><img title="Session" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/Session 40x40_1.PNG" /></a></li>
            <li id="ViewNotes"><a routerLink="viewNotes"><span>View Notes</span><img title="View Notes" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/Notes1.PNG" /></a></li>
            <li id="Dashboards"><a routerLink="dashboard"><span>Dashboards</span><img title="Dashboards" src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/dashboard1.jpg" /></a></li>
        </ul>
    </nav>
    <header>
      <div class="row-fluid">
          <div class="span6">
              <img src="http://hkcluatpa01.optii.net/Optii.Web.Hub/img/image001.png" style="height:54px;width:130px;" />
          </div>
      </div>
  </header>